.grid-container {
    display: grid;
    border: solid 2px black;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1em;
    width: 300px;
    height: 400px;
    text-align: center;
    
}

.grid-item {
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.display {
    grid-column: 1 / -1;
}

.equals {
    grid-row: 5 / -1;
    grid-column: 4 / 5;
}

.zero {
    grid-column: 2 / 4;
}